.matrix-generator {
  display: flex;
  gap: 2rem;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 0.5rem;
  }
}
