.matrix-generator {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
