#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

input {
  border-radius: 4px;
  border: 1px solid gray;
  padding: 6px 8px;
  font-size: 1rem;
  color: rgb(45, 45, 45);

  &:focus {
    outline: 1px solid rgb(46, 46, 46);
  }
}

button {
  border-radius: 4px;
  padding: 6px 8px;
  background-color: #ffe3c2;
  border-color: rgb(120, 59, 9) ;
  color: #562e00;
  cursor: pointer;
}

td {
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
}

table{
  width: 100%;
}