#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --gray-color: #808080;
  --gray-s-color: #c9c7c745;
}

input {
  border-radius: 4px;
  border: 1px solid var(--gray-color);
  padding: 6px 8px;
  font-size: 1rem;
  color: rgb(45, 45, 45);

  &:focus {
    outline: 1px solid rgb(46, 46, 46);
  }
}

label {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--gray-color);
  font-size: 0.8rem;
}

button {
  border-radius: 4px;
  padding: 6px 8px;
  background-color: var(--gray-s-color);
  // color: var(--gray-color);
  cursor: pointer;
  font-size: 1rem;
}

td {
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
}

th {
  background-color: var(--gray-s-color);
}

table {
  width: 100%;
}
